
<section class="spotlight">
<% spotlight = Work.spotlight %>
<h2 class="spotlight__header">
  <% if spotlight == nil %>
    Database empty, <%= link_to "better add some media!", new_work_path %>
  <% else %>
    <span class="spotlight__header--prefix">Media Spotlight</span>
    <%= link_to spotlight.title, work_path(spotlight), class: "spotlight__link-to" %> by <%= spotlight.creator %> 
</h2>
<p class="spotlight__description">
  <%= spotlight.votes.count %> votes - <%= spotlight.description %>
</p>
<% end %>
</section>
<hr class="root__hr" />

<section class="top-ten__container">
<% Work::CATEGORIES.each do |media| %>
  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
  <% if Work.top_ten(media) == nil %>
    Top <%= media.capitalize + "s" %>: No works in database. <%= link_to "Add a work!", new_work_path %>
  </h2>
  <% else %>
    Top <%= media.capitalize + "s" %>
  </h2>
  
  <% Work.top_ten(media).each do |item| %>
  <ul class="list-group top-ten__list">
    <li class="list-group-item">
      <h4><%= link_to item.title, work_path(item) %>
      <small class="top-ten__creator"> by <%= item.creator %></small>
      </h4>
      <p><%= item.votes.count %> votes 
    </li>  
    <% end %>
  </ul>
  </section>
  <% end %>
<% end %>

