
<% spotlight = Work.spotlight %>
<h2>
  <% if spotlight == nil %>
    Database empty, <%= link_to "better add some media!", new_work_path %>
  <% else %>
    Media Spotlight <%= link_to spotlight.title, work_path(spotlight)%> by <%= spotlight.creator %> 
</h2>
<p> 
  <%= spotlight.votes.count %> votes - <%= spotlight.description %>
</p>

<hr/>

<% ["movie", "book", "album"].each do |media| %>
<section>
  <h2>
  <% if Work.top_ten(media) == nil %>
    Top <%= media.capitalize + "s" %>: No works in database. <%= link_to "Add a work!", new_work_path %>
  <% else %>
    Top <%= media.capitalize + "s" %>
  </h2>
  <ul>
  <% Work.top_ten(media).each do |item| %>
    <li>
      <h4><%= link_to item.title, work_path(item) %>
      <small> by <%= item.creator %></small>
      </h4>
      <p><%= item.votes.count %> votes 
    </li>
    <% end %>
  <% end %>
</section>
<% end %>

