<h2>List of Works</h2>

<% Work::CATEGORIES.each do |media| %>
  <% if Work.category_desc_by_vote_count(media) == nil %>
    <h4>
      No <%= media.capitalize + "s" %> in database...yet. <%= link_to "Add a new work!", new_work_path %>
    </h4>
  <% else %>
    <section class="media-table">
    <h4>
      <%= media.capitalize + "s" %>
    </h4>
    <table class="table">
      <thead>
        <tr>
          <th width=80 scope="col">Votes</th>
          <th scope="col">Title</th>
          <th scope="col">Created By</th>
          <th width=100 scope="col">Published</th>
          <th width=100 scope="col">Upvote</th>
        </tr>
      </thead>
      <tbody>  
      <% Work.category_desc_by_vote_count(media).each do |work| %>
      <tr>
        <th scope="row"><%= work.votes.count %></th>
        <td> <%= link_to work.title, work_path(work) %></td>
        <td> <%= work.creator %> </td>
        <td> <%= work.publication_year %></td>
        <td><%= link_to "Upvote", upvote_work_path(work), class: "btn btn-primary"  %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </section>
<% end %>
<% end %>
