<section>
  <h2><%= @work.title %> </h2>
  <p>Created by: <%= @work.creator %> </p>
  <p>Published: <%= @work.publication_year %>
  <p><%= @work.description %></p>
  <p>Added to the site <%= readable_date(@work.created_at) %></p>

  <section>
    <%= link_to "Back to media ranks", root_path %>
    <%= link_to "Edit", edit_work_path(@work) %>
    <%= link_to "Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure?"}%>
  </section>

</section>